/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 oct 2022, 19:40:30
    Author     : angel
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif',monospace;
    color: black;
}

body{
    height: 80vh;
    width: 100%;  
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    background-color: white;
    background-position: center;
    background-size: auto;
}

nav {
    flex: 1; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;

    align-items: center;
    background: #9932CC;
}

nav h1{
    font-size: 40px;
    color: white;
    
}

nav ul{
    position: relative;
    left: 900px;
    bottom: 1rem; 
    margin-right: 700px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    
}

nav ul a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.titulo{
    padding: 10px;
    color: #663399;
    
}

.Tabla{
    width: 100%;
    border: 1px solid blueviolet;
    background-color: DarkSlateBlue;
}


th, td {

   text-align: left;
   border: 1px solid blueviolet;
   border-spacing: 0;
   border-collapse: collapse;
   padding: 0.2em;
   background-color: Lavender;
   border-radius: 2px;
   font-weight: 800;
}

th{
    background-color: Indigo;
    color: white;
    
}

td a{
    text-decoration: none;
    color: blueviolet;   
}


 button{
    text-align: center;
    background-color: MediumSlateBlue;
    border-radius: 5px;
    border: white;
    width: 180px;
    height: 30px;
    align-items: center;
    box-shadow: 0 0.3rem 0.5rem SlateBlue;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

button:hover{
    cursor: pointer;  
}

button a{
    color: white;
    text-decoration: none;
    
}


